<!DOCTYPE html>
<html lang="pt-BR">
<link rel="shortcut icon" href="/images/favicon.png" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparação de Pokémon</title>
    <link rel="stylesheet" href="/css/compare.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-container">
            <img src="images/pokemon-logo1.png" alt="Logo Pokémon" class="logo">
            <div class="nav-links">
                <a href="/">Página inicial</a>
                <a href="/search">Buscar Pokémon</a>
                <a href="/trainers">Lista de Treinadores</a>
                <a href="/register">Cadastrar Treinador</a>
            </div>
        </div>
    </div>
    <h1>Comparação de Pokémon</h1>
    <div class="comparison-container">
        
        <div class="pokemon">
            <h2><%= pokemon1.name %> (#<%= pokemon1.number %>)</h2>
            <img src="<%= pokemon1.image %>" alt="<%= pokemon1.name %>">
            <p>Tipos: <%= pokemon1.types.join(', ') %></p>
            <p>Habilidades: <%= pokemon1.abilities.join(', ') %></p>
            <h3>Estatísticas:</h3>
            <ul>
                <% pokemon1.stats.forEach((stat, index) => { %>
                    <li>
                        <span class="<%= stat.value > pokemon2.stats[index].value ? 'higher' : stat.value < pokemon2.stats[index].value ? 'lower' : '' %>">
                            <%= stat.name %>: <%= stat.value %>
                        </span>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div class="pokemon">
            <h2><%= pokemon2.name %> (#<%= pokemon2.number %>)</h2>
            <img src="<%= pokemon2.image %>" alt="<%= pokemon2.name %>">
            <p>Tipos: <%= pokemon2.types.join(', ') %></p>
            <p>Habilidades: <%= pokemon2.abilities.join(', ') %></p>
            <h3>Estatísticas:</h3>
            <ul>
                <% pokemon2.stats.forEach((stat, index) => { %>
                    <li>
                        <span class="<%= stat.value > pokemon1.stats[index].value ? 'higher' : stat.value < pokemon1.stats[index].value ? 'lower' : '' %>">
                            <%= stat.name %>: <%= stat.value %>
                        </span>
                    </li>
                <% }); %>
            </ul>
        </div>

    </div>
    
    <a href="/search"><button>Voltar</button></a>
</body>
</html>
