<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versão Shiny</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
    <div class="pokedex-container"> 
        <div class="pokedex">
            <img src="/images/pokedex.png" alt="Pokedex">
            <img class="pokemon__sprite" src="<%= shinyPokemon.image %>" alt="Sprite Shiny do Pokémon">
            <div class="pokemon-info">   
                <h1 class="pokemon__name capitalize"><%= shinyPokemon.name %></h1>
                <p>Número: <%= shinyPokemon.number %></p>
                <p>Altura: <%= shinyPokemon.height %> m</p>
                <p>Peso: <%= shinyPokemon.weight %> kg</p>
                <p>Tipos: <%= shinyPokemon.types.join(', ') %></p>
                <p>Habilidades: <%= shinyPokemon.abilities.join(', ') %></p>
            </div>
        </div>
    </div>
    <a href="/pokemon?name=<%= shinyPokemon.name %>">
        <button>Ver versão padrão</button>
    </a>
    <footer>
        <p>Rotas disponíveis:</p>
        <ul>
            <li><a href="/">Página Inicial</a></li>
            <li><a href="/register">Cadastrar Treinador</a></li>
            <li><a href="/trainers">Lista de Treinadores</a></li>
            <li><a href="/search">Buscar Pokémon</a></li>
        </ul>
    </footer>
</body>
</html>
