<!DOCTYPE html>
<html lang="pt-BR">
<link rel="shortcut icon" href="/images/favicon.png" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinadores Cadastrados</title>
    <link rel="stylesheet" href="/css/trainerList.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-container">
            <img src="images/pokemon-logo1.png" alt="Logo Pokémon" class="logo">
            <div class="nav-links">
                <a href="/">Página inicial</a>
                <a href="/search">Buscar Pokémon</a>
                <a href="/trainers">Lista de Treinadores</a>
                <a href="/register">Cadastrar Treinador</a>
            </div>
        </div>
    </div>
    <h1>Lista de Treinadores</h1>
    <ul>
        <% trainers.forEach(trainer => { %>
          <li>
            <h2><%= trainer.name %> (Equipe: <%= trainer.team %>)</h2>
            <p>Altura: <%= trainer.height %> cm</p>
            <p>Peso: <%= trainer.weight %> kg</p>
            <h3>Pokémons:</h3>
            <ul class="pokemon-party">
              <% trainer.party.forEach(pokemon => { %>
                <li>
                  <img src="<%= pokemon.sprite %>" alt="<%= pokemon.name %>">
                  <p><strong><%= pokemon.name %></strong></p> 
                  <p>Altura: <%= pokemon.height %> cm</p>
                  <p>Peso: <%= pokemon.weight %> kg</p>
                  <p>Tipos:
                    <% if (pokemon.types && pokemon.types.length > 0) { %>
                        <% pokemon.types.forEach(type => { %>
                            <span class="type-label type-<%= type %>"><%= type.charAt(0).toUpperCase() + type.slice(1) %></span>
                        <% }) %>
                    <% } else { %>
                        <span>N/A</span>
                    <% } %>
                </p>
                </li>
              <% }) %>
            </ul>
          </li>
        <% }) %>
      </ul>      
    <a href="/register"><button>Cadastrar Novo Treinador</button></a>
</body>
</html>
